.Center {
text-align: center;
margin-left: auto;
margin-right: auto;
}

.Border {
border: Solid white 3px;
  border-radius: 20px; 
  background-color: grey;
}
.BorderAfter {
border: Solid black 10px;
  border-radius: 20px; 
  background-color: black;
}
