@font-face  {
  font-family: Royal;
  src:url("http://burkis.onthewifi.com/Resources/Fonts/Font1.tff");

}
@font-face  {
  font-family: OldEng;
  src:url("http://burkis.onthewifi.com/Resources/Fonts/Font2.tff");

}
