@font-face  {
  font-family: Royal;
  src:url("https://xplosivex.github.io/Burkoloy/Resources/Fonts/Font1.ttf");

}
@font-face  {
  font-family: OldEng;
  src:url("https://xplosivex.github.io/Burkoloy/Resources/Fonts/Font2.ttf");

}
